label,
input,
select {
  display: block;
}

input,
select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error,
select.error {
  border: 1px solid var(--error);
}

input,
select {
  margin-bottom: 10px;
  font-size: 14px;
}

div.error {
  padding: 8px;
  margin: 15px 0;
  font-size: 12px;
}

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid transparent; /* Add a border */
}

form.signup.error,
form.login.error {
  border-color: var(--error); /* Set the border color to the error color */
}

form.signup h3,
form.login h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form.signup label,
form.login label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

form.signup button,
form.login button {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

form.signup .error,
form.login .error {
  color: #f44336;
  margin-top: 10px;
  font-size: 0.9em;
}

/* Add error border to input fields */
form.signup input.error,
form.login input.error {
  border: 1px solid var(--error) !important; /* Add !important to override other styles */
}



/* Flip effect */
.flip-enter {
  opacity: 0;
  transform: rotateY(180deg);
}

.flip-enter-active {
  opacity: 1;
  transform: rotateY(0deg);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.flip-exit {
  opacity: 0;
}

.flip-exit-active {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

/* Add a media query for mobile devices */
@media (max-width: 767px) {
  form.signup,
  form.login {
    max-width: 250px;
    margin: 10px auto;
    padding: 5px;
  }

  form.signup h3,
  form.login h3 {
    margin-bottom: 5px;
    font-size: 18px;
  }

  form.signup label,
  form.login label {
    margin-bottom: 3px;
    font-size: 14px;
  }

  form.signup button,
  form.login button {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  form.signup .error,
  form.login .error {
    margin-top: 3px;
    font-size: 0.8em;
  }

  input,
  select {
    margin-bottom: 10px;
    font-size: 14px;
  }

  div.error {
    padding: 8px;
    margin: 15px 0;
    font-size: 12px;
  }
  
}