@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");

/* MyTasksPage */

.task-details button,
.sort-bar-button {
  height: 25px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 30px;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.task-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.task-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

@media (max-width: 767px) {
  .task-buttons {
    justify-content: center;
  }
}

.task-buttons button:focus {
  outline: none;
}

.task-buttons button svg {
  margin-right: 5px;
}

.task-buttons button.task-edit {
  color:dodgerblue;
}

.task-buttons button.task-done {
  color:darkgreen;
}

.task-buttons button.task-recover {
  color:blueviolet;
}

.task-buttons button.task-delete {
  color:darkred;
}

.tasks-container {
  overflow-y: scroll;
  max-height: calc(100vh - 200px); 
  box-shadow: 0 2px 6px rgba(0.5, 0.5, 0.5, 0.5);
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 254, 253, 0.5); /* Adjust the RGB values and opacity */
}

.tasks-container::-webkit-scrollbar {
  width: 8px; 
  background-color: #f1f1f1; 
}

.tasks-container::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px; 
}

.tasks-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}


.task-details button:hover,
.sort-bar-button:hover {
  background-color: #ddd;
}

.task-details button:active,
.sort-bar-button:active {
  transform: scale(0.9); /* Decrease the button size on click */
}

.create,
.sort-options {
  box-shadow: 0 2px 6px rgba(0.5, 0.5, 0.5, 0.5);
  border-radius: 4px;
  background-color: rgba(255, 254, 253, 0.5); /* Adjust the RGB values and opacity */
  margin: 10px; /* Adjust the margin values as desired */
  padding: 10px; /* Add padding to create space inside the container */
  width: auto; /* Adjust the width as desired */
}

.create h3,
.sort-options h3 {
  text-shadow: 0 1px 2px #0005;
  color: #333;
  font-family: "Fraunces", "Garamond", "Georgia", serif;
  background-color: rgba(132, 123, 112, 0.5); /* Adjust the RGB values and opacity */
}

.create span,
.sort-options span {
  text-shadow: 0 1px 2px #0005;
  color: #333;
  font-family: "Fraunces", "Garamond", "Georgia", serif;
  display: flex;
  align-items: center;
}




/* Styling for the bubbly button */
.sort-options button {
  background: #fff;
  color: #127bde; 
  box-shadow: 0 0 0 2px #127bde; /* Add a frame with a box shadow */
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease;
}

/* Pseudo-element for the button's bubble effect */
.sort-options button::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #127bde; 
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

/* Bubble effect on hover */
.sort-options button:hover{
  color: #ffffff; 
}

/* Bubble effect on hover */
.sort-options button:hover::before{
  width: 200%; /* Expand the bubble's width */
  height: 200%; /* Expand the bubble's height */
}

/* Button click effect */
.sort-options button:active {
  transform: scale(0.9); /* Decrease the button size on click */
}


.mytasks {
  
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.no-tasks {
  justify-content: center;
  align-items: center;
  display: flex; /* Add display property to enable flexbox */
}

.no-tasks img {
  max-width: 100%;
  max-height: 100%;
}


.task-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.task-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.task-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.completed {
  text-decoration: line-through;
}

/* Add a media query for mobile devices */
@media (max-width: 767px) {
  .sort-bar-button {
    height: auto;
  }
  .mytasks {
    gap: 10px; /* Reduce the gap further for smaller screens */
  }

  .no-tasks {
    max-width: 100%; /* Adjust the maximum width to fit the screen */
  }

  .task-details {
    margin: 10px auto; /* Reduce the margin for smaller screens */
    padding: 10px; /* Reduce the padding for smaller screens */
  }

  .task-details h4 {
    font-size: 1em; /* Adjust the font size for smaller screens */
  }

  .task-details p {
    font-size: 0.8em; /* Adjust the font size for smaller screens */
  }

  .task-details span {
    top: 10px; /* Adjust the position for smaller screens */
    right: 10px; /* Adjust the position for smaller screens */
    padding: 4px; /* Adjust the padding for smaller screens */
  }
}
